Import Librarties

In [1]:
import nltk
import re # Regular expression 
# nltk.download('punkt') # used for Tokenization 
# nltk.download('wordnet') 
# nltk.download('omw-1.4') 
# nltk.download('stopwords') 
from nltk.corpus import stopwords # used for stopwords 
from nltk.stem.porter import PorterStemmer # used for stemming 
from nltk.stem.wordnet import WordNetLemmatizer # Used for Lemmatization 
from nltk.tokenize import sent_tokenize, word_tokenize 
import pandas as pd

Tokenization

Input Text

In [8]:
text="Natural Language Processing is an exciting area. Huge budget have been allocated for this."

In [6]:
# sentence tokenization
print(sent_tokenize(text))
#word tokenization
print(word_tokenize(text))

['Natural Language Processing is an exciting area.', 'Huge budget have been allocated for this.']
['Natural', 'Language', 'Processing', 'is', 'an', 'exciting', 'area', '.', 'Huge', 'budget', 'have', 'been', 'allocated', 'for', 'this', '.']

LowerCase Conversion

In [10]:
text = re.sub(r"[^a-zA-Z0-9]"," ",text.lower()) 
words = text.split() 
print(words)

['natural', 'language', 'processing', 'is', 'an', 'exciting', 'area', 'huge', 'budget', 'have', 'been', 'allocated', 'for', 'this']

Stop Words Removal

In [11]:
print(stopwords.words("english"))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [12]:
# Final_words=[]
# for w in words:
#     if w not in stopwords.words("english"):
#         Final_words.append(w)

In [14]:
words = [w for w in words if w not in stopwords.words("english")]

In [15]:
words

['natural',
 'language',
 'processing',
 'exciting',
 'area',
 'huge',
 'budget',
 'allocated']

Stemming

In [ ]:
stemmer=PorterStemmer

In [17]:
stemer_words=[PorterStemmer().stem(w) for w in words]

In [18]:
print(stemer_words)

['natur', 'languag', 'process', 'excit', 'area', 'huge', 'budget', 'alloc']

Lemmetization

In [19]:
lemed_words=[WordNetLemmatizer().lemmatize(w) for w in words] 
print(lemed_words)

['natural', 'language', 'processing', 'exciting', 'area', 'huge', 'budget', 'allocated']

Excuting in an Single Cell

In [22]:
text="Natural Language Processing is an exciting area. Huge budget have been allocated for this." 
text = re.sub(r"[^a-zA-Z0-9]"," ",text.lower()) # Removing Special charaters and make text lowercase
words = text.split() 
stop_Text = [w for w in words if w not in stopwords.words("english")] # Remove Stop words
final_words=[WordNetLemmatizer().lemmatize(w) for w in stop_Text] #Lemmatization achived

In [23]:
final_words

['natural',
 'language',
 'processing',
 'exciting',
 'area',
 'huge',
 'budget',
 'allocated']

Parts of Speach

In [24]:
# nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/sreenal/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [25]:
text="Natural Language Processing is an exciting area. Huge budget have been allocated for this." 
tokenized = sent_tokenize(text) 
for i in tokenized: 
    wordList = word_tokenize(i) 
    wordList = [w for w in wordList if w not in stopwords.words("english")] 
    tagged = nltk.pos_tag(wordList) 
    print(tagged)

[('Natural', 'JJ'), ('Language', 'NNP'), ('Processing', 'NNP'), ('exciting', 'VBG'), ('area', 'NN'), ('.', '.')]
[('Huge', 'NNP'), ('budget', 'NN'), ('allocated', 'VBD'), ('.', '.')]

Bag of words

In [3]:
doc1 = 'Game of Thrones is an amazing tv series!' 
doc2 = 'Game of Thrones is the best tv series!' 
doc3 = 'Game of Thrones is so great'

In [ ]:
doc_1low=re.sub(r"[^a-zA-Z0-9]"," ",doc1.lower().split()) 
doc_2low=re.sub(r"[^a-zA-Z0-9]"," ",doc2.lower().split()) 
doc_3low=re.sub(r"[^a-zA-Z0-9]"," ",doc3.lower().split())

In [17]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer(stop_words='english')
x=vectorizer.fit_transform([doc1,doc2,doc3])
dfBow= pd.DataFrame(x.toarray(),columns=vectorizer.get_feature_names()) 
dfBow.head()

   amazing  best  game  great  series  thrones  tv
0        1     0     1      0       1        1   1
1        0     1     1      0       1        1   1
2        0     0     1      1       0        1   0

In [7]:
x.toarray()

array([[1, 0, 1, 0, 1, 1, 1],
       [0, 1, 1, 0, 1, 1, 1],
       [0, 0, 1, 1, 0, 1, 0]])

In [13]:
vectorizer.get_feature_names()

['amazing', 'best', 'game', 'great', 'series', 'thrones', 'tv']

trying with Ngram

In [19]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer(stop_words='english',ngram_range=(1,3))
x=vectorizer.fit_transform([doc1,doc2,doc3])
dfBow= pd.DataFrame(x.toarray(),columns=vectorizer.get_feature_names()) 
dfBow.head()

,amazing,amazing tv,amazing tv series,best,best tv,best tv series,game,game thrones,game thrones amazing,game thrones best,...,great,series,thrones,thrones amazing,thrones amazing tv,thrones best,thrones best tv,thrones great,tv,tv series
0,1,1,1,0,0,0,1,1,1,0,...,0,1,1,1,1,0,0,0,1,1
1,0,0,0,1,1,1,1,1,0,1,...,0,1,1,0,0,1,1,0,1,1
2,0,0,0,0,0,0,1,1,0,0,...,1,0,1,0,0,0,0,1,0,0

In [20]:
vectorizer.vocabulary_

{'game': 6,
 'thrones': 13,
 'amazing': 0,
 'tv': 19,
 'series': 12,
 'game thrones': 7,
 'thrones amazing': 14,
 'amazing tv': 1,
 'tv series': 20,
 'game thrones amazing': 8,
 'thrones amazing tv': 15,
 'amazing tv series': 2,
 'best': 3,
 'thrones best': 16,
 'best tv': 4,
 'game thrones best': 9,
 'thrones best tv': 17,
 'best tv series': 5,
 'great': 11,
 'thrones great': 18,
 'game thrones great': 10}

TF-IDF

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer

Single Execution

In [5]:
d1="petrol cars are cheaper than diesel cars" 
d2="diesel is cheaper than petrol" 
doc_corpus=[d1,d2] 
tfVec=TfidfVectorizer(stop_words='english',ngram_range=(1,3),max_features=10) 
tfVec_Fit =tfVec.fit_transform(doc_corpus) 
print(f"Feature Name found - {tfVec.get_feature_names()}") 
dfTFIDF= pd.DataFrame(tfVec_Fit.toarray(),columns=tfVec.get_feature_names()) 
dfTFIDF.head()

Feature Name found - ['cars', 'cars cheaper', 'cars cheaper diesel', 'cheaper', 'cheaper diesel', 'cheaper diesel cars', 'cheaper petrol', 'diesel', 'diesel cars', 'petrol']

,cars,cars cheaper,cars cheaper diesel,cheaper,cheaper diesel,cheaper diesel cars,cheaper petrol,diesel,diesel cars,petrol
0,0.616664,0.308332,0.308332,0.219381,0.308332,0.308332,0.000000,0.219381,0.308332,0.219381
1,0.000000,0.000000,0.000000,0.448321,0.000000,0.000000,0.630099,0.448321,0.000000,0.448321

Cosine Similarity

In [7]:
import numpy as np
from numpy.linalg import norm

In [9]:
d1="The food is good and great" # +ve statement 
d2="The food is bad" # -ve statement 
from sklearn.feature_extraction.text import CountVectorizer 
vectorizer = CountVectorizer(stop_words='english') 
x = vectorizer.fit_transform([d1,d2]) 
dfBow= pd.DataFrame(x.toarray(),columns=vectorizer.get_feature_names()) 
dfBow.head() 
tfVec=TfidfVectorizer(stop_words='english') 
tfVec_Fit =tfVec.fit_transform([d1,d2]) 
print(f"Feature Name found - {tfVec.get_feature_names()}") 
dfTFIDF= pd.DataFrame(tfVec_Fit.toarray(),columns=tfVec.get_feature_names()) 
dfTFIDF.head() 
d1_count=[0.000000,0.449436,0.631667,0.631667] 
d2_count=[0.814802,0.579739,0.000000,0.000000] 
cosine = np.dot(d1_count,d2_count)/(norm(d1_count)*norm(d2_count)) 
print(f"Cosine Similarity is {cosine}") 
dfTFIDF.head()

Feature Name found - ['bad', 'food', 'good', 'great']
Cosine Similarity is 0.2605557435429248

        bad      food      good     great
0  0.000000  0.449436  0.631667  0.631667
1  0.814802  0.579739  0.000000  0.000000